project3/tss_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tss="http://localhost:8080/exist/apps/tss-collection" targetNamespace="http://localhost:8080/exist/apps/tss-collection">
    
    <!-- Definition of simple types -->
    <simpleType name="scoreType">
        <restriction>
            <pattern value="s[0-9]{1}"/>
        </restriction>
    </simpleType>

    <!-- Definition of simple elements -->
    <element name="Contestant" type="string"/>
    <element name="Judge" type="string"/>
    <element name="Piece" type="string"/>
    <element name="Score" type="tss:scoreType"/>
    
    <!-- Definition of complex elements -->
    <complexType name="auditionType">
        <sequence>
            <element ref="Contestant" maxOccurs="1"/>
            <element ref="Piece" maxOccurs="1"/>
            <element name="Results">
                <complexType>
                    <sequence>
                        <element name="Result" minOccurs="1" maxOccurs="unbounded">
                            <sequence>
                                <element ref="Score" maxOccurs="1"/>
                                <element ref="Judge" maxOccurs="1"/>
                            </sequence>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <key name="PrimaryKeyForShow">
        <selector xpath="Show"/>
        <field xpath="ShowName"/>
        <field xpath="ShowDate"/>
    </key>
</schema>